/*   big tablets to 1200px (widths smaller than 1140px row)  */

@media only screen and (max-width: 1200px) {
    .hero-text-box {
        text-align: center;
    }
}


/*   small tablets to big tablets: from 768px 0 to 1023px  */

@media only screen and (max-width: 1023px) {
    .hero-text-box {
        text-align: center;
        max-width: 600px;
    }
    .row-cities {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .row-testo {
        display: flex;
        flex-wrap: nowrap;
        margin: 0 auto;
    }
    .sectoin-testimonials {
        height: 640px;
    }
}


/* Small phones to small tablets: from 481px to 767px */

@media only screen and (max-width: 767px) {
    .hero-text-box {
        text-align: center;
        max-width: 500px;
    }
    .features-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .long-copy {
        text-align: center;
        margin: 0 20px;
    }
    .section-steps>div {
        margin: 0 20px;
    }
    .app-screen {
        display: none;
    }
    .main-steps-box {
        display: grid;
        grid-template-columns: 1fr;
    }
    .row-testo {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .sectoin-testimonials {
        height: 950px;
    }
}

@media only screen and (max-width: 600px) {
    .sectoin-testimonials {
        height: 1000px;
    }
}


/* Small phones: from 0 to 480px */

@media only screen and (max-width: 480px) {
    .hero-text-box {
        max-width: 300px;
    }
    .btn-full:link,
    .btn-full:visited,
    input[type='submit'] {
        margin: 0;
        margin-bottom: 10px;
    }
    .features-box {
        display: grid;
        grid-template-columns: 1fr;
    }
    .long-copy {
        text-align: center;
        margin: 0 20px;
    }
    .get-food-fast>h2 {
        margin: 0 20px;
    }
    .row-cities {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .sectoin-testimonials {
        height: 1200px;
    }
}